<div class="card-body card-questions row">
	<fieldset class="float-label-wrap col-12 col-sm-6">
		<input type="number" name="calories" id="calories-item-{{itemNo}}" [(ngModel)]="calories" (change)="handleNewCalc" />
		<label for="calories-item-{{itemNo}}">Calories</label>
	</fieldset>
	<fieldset class="float-label-wrap col-12 col-sm-6">
		<input type="number" name="fat" id="fat-item-{{itemNo}}" [(ngModel)]="fat" (change)="handleNewCalc" />
		<label for="fat-item-{{itemNo}}">Fat</label>
	</fieldset>
	<fieldset class="float-label-wrap col-12 col-sm-6">
		<input type="number" name="carbs" id="carbs-item-{{itemNo}}" [(ngModel)]="carbs" (change)="handleNewCalc" />
		<label for="carbs-item-{{itemNo}}">Carbs</label>
	</fieldset>
	<fieldset class="float-label-wrap col-12 col-sm-6">
		<input type="number" name="protein" id="protein-item-{{itemNo}}" [(ngModel)]="protein" (change)="handleNewCalc" />
		<label for="protein-item-{{itemNo}}">Protein</label>
	</fieldset>
	<div class="per-row-wrap">
		per...
	</div>
	<fieldset class="float-label-wrap">
		<input type="number" name="serving" id="serving-item-{{itemNo}}" [(ngModel)]="serving" (change)="handleNewCalc" />
		<label for="serving-item-{{itemNo}}">Serving Size / Units</label>
		<select name="unit" [(ngModel)]="unit" (change)="handleNewCalc">
			<option *ngFor="let u of units" value="{{u.value}}">{{u.value}}</option>
		</select>
	</fieldset>
</div>
<div class="card-footer card-calculations d-flex flex-column px-3">
	<div>
		{{calcCals | number:'1.2-2'}} calories per {{calcUnit}}
	</div>
	<div>
		{{calcCals | number:'1.2-2'}} fat,  {{calcCarbs | number:'1.2-2'}} carbs,  {{calcProtein | number:'1.2-2'}} protein
	</div>
</div>