<div class="card-body card-questions row">
	<fieldset class="form-group col-12 col-sm-6">
		<label>Price</label>
		<input type="number" name="price" [(ngModel)]="price" (change)="handleNewCalc" />
	</fieldset>
	<div class="col-12 col-sm-6">
		per...
	</div>
	<fieldset class="form-group col-12 col-sm-6">
		<label>Quantity</label>
		<input type="number" name="qty" [(ngModel)]="qty" (change)="handleNewCalc" />
	</fieldset>
	<fieldset class="form-group col-12 col-sm-6">
		<label>Units</label>
		<select name="unit" [(ngModel)]="unit" (change)="handleNewCalc">
			<option *ngFor="let u of units" value="{{u.value}}">{{u.value}}</option>
		</select>
	</fieldset>
</div>
<div class="card-body card-calculations d-flex flex-column px-3">
	<div>
		${{calcPrice | number:'1.2-2'}} per {{calcUnit}}
	</div>
</div>