<div class="card-body card-questions row">
	<fieldset class="float-label-wrap">
		<input type="number" name="price" id="price-item-{{itemNo}}" [(ngModel)]="price" (change)="handleNewCalc" />
		<label for="price-item-{{itemNo}}">Price</label>
	</fieldset>
	<div class="per-row-wrap">
		per...
	</div>
	<fieldset class="float-label-wrap double">
		<input type="number" name="qty" id="qty-item-{{itemNo}}" [(ngModel)]="qty" (change)="handleNewCalc" />
		<select name="unit" [(ngModel)]="unit" (change)="handleNewCalc">
			<option *ngFor="let u of units" value="{{u.value}}">{{u.name}}</option>
		</select>
		<label for="qty-item-{{itemNo}}">Quantity / Units</label>
	</fieldset>
</div>
<div class="card-footer card-calculations d-flex flex-column px-3">
	<div>
		${{calcPrice | number:'1.2-2'}} per {{calcUnit}}
	</div>
</div>