.card-title{
	display: flex;
	justify-content: space-between;
}

.card-title label{
	flex-strink: 0;
}

.card-title input{
	overflow: auto;
}

.card-footer input,
.card-footer select{
	max-width: 120px;
}

.card{
	max-width: 490px;
}