.card-footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-footer .rhs{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.card-footer .rhs input,
.card-footer .rhs select{
	width: 28%;
}

fieldset{
	border: none;
}

/*.card-title{
	display: flex;
	justify-content: space-between;
}

.card-title label{
	flex-strink: 0;
}

.card-title input{
	overflow: auto;
}


fieldset input,
fieldset select{
	width: 45%;
	display: block;
}

.card-footer{
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.card-footer input,
.card-footer select{
	max-width: 120px;
}

.card{
	max-width: 490px;
}*/