.card-title{
	display: flex;
	justify-content: space-between;
}

.card-title label{
	flex-strink: 0;
}

.card-title input{
	overflow: auto;
}

fieldset{
	border: none;
}

fieldset input,
fieldset select{
	width: 45%;
	display: block;
}

.card-footer{
	display: flex;
	justify-content: space-between;
	align-content: center;
}

.card-footer input,
.card-footer select{
	max-width: 120px;
}

.card{
	max-width: 490px;
}