<div class="card">
	<div class="card-content">
		<fieldset class="row">
			<label class="col s6" for="item-name">
				<h4 class="card-title">Item Name: </h4>
			</label>
			<input type="text" class="col s6" placeholder="name" id="item-name" [(ngModel)]="name" name="name">
		</fieldset>
		<fieldset class="row">
			<label for="item-cost">Price</label>
			<input type="number" class="form-control" id="item-cost" placeholder="0.00" min="0" max="100000" required [(ngModel)]="price" name="price" (change)="handleNewCalc($event)">
		</fieldset>
		<fieldset class="row">
			<label for="item-size" class="col s12">Size</label>
			<input type="number" class="col s6" id="item-size" placeholder="28" required [(ngModel)]="qty" name="qty" (change)="handleNewCalc">
			<select class="col s6 browser-default" id="item-sizeunit"  aria-label="unit size" [(ngModel)]="unit" name="unit" (change)="handleNewCalc($event)">
				<option *ngFor="let u of units" value="{{u.value}}">{{u.name}}</option>
			</select>
		</fieldset>
		<div class="card-footer row">
			<div class="col s4">
				${{ price / qty  | number:'1.2-2' }} per 1 {{ unit }}
			</div>
			<div *ngIf="unit != 'each'" class="col s8 rhs">
				${{ calcPrice | number:'1.2-2' }} per 
				<input type="number" id="item-size" placeholder="28" required [(ngModel)]="calcQty" name="calcQty" (change)="handleNewCalc($event)" />
				<select  class="browser-default" id="item-sizeunit"  aria-label="unit size" [(ngModel)]="calcUnit" name="calcUnit" (change)="handleNewCalc($event)">
					<option *ngFor="let u of units" value="{{u.value}}">{{u.value}}</option>
				</select>
			</div>
		</div>
	</div>
</div>