<div class="app-nav">
	<div class="left">
		<select [(ngModel)]="calcUnit" (change)="emitNewUnit($event)" name="calcUnit">
			<option *ngFor="let u of units" value="{{u.value}}">{{u.name}}</option>
		</select>
	</div>
	<div class="right">
		<label>Price
			<input type="radio" name="type" value="price" [(ngModel)]="calcType" (change)="emitNewType($event)">
		</label>
		<label>Nutrition
			<input type="radio" name="type" value="nutrition" [(ngModel)]="calcType" (change)="emitNewType($event)">
		</label>
	</div>
</div>