<div class="app-nav">
	<div class="left">
		<select [(ngModel)]="calcUnit" (change)="emitNewUnit($event)" name="calcUnit">
			<option *ngFor="let u of units" value="{{u.value}}">{{u.name}}</option>
		</select>
	</div>
	<div class="right">
		<div class="radio-switch">
			<input type="radio" name="type" value="price" id="price-radio" [(ngModel)]="calcType" (change)="emitNewType($event)">
			<label for="price-radio">Price</label>
		</div>
		<div class="radio-switch">
			<input type="radio" name="type" value="nutrition" id="nutrition-radio" [(ngModel)]="calcType" (change)="emitNewType($event)">
			<label for="nutrition-radio">Nutrition</label>
		</div>
	</div>
</div>