// **************************************************************/
// Utilities 
// **************************************************************/

@mixin boxshadow($insetH: 0, $insetV: 1px, $insetB: 3px, $insetC: rgba(0, 0, 0, 0.3), $outsetH: 0, $outsetV: 1px, $outsetB: 3px, $outsetC: rgba(255, 255, 255, 0.3)){
	-webkit-box-shadow: inset $insetH $insetV $insetB $insetC, $outsetH $outsetV $outsetB $outsetC;
	box-shadow: inset $insetH $insetV $insetB $insetC, $outsetH $outsetV $outsetB $outsetC;
}

@mixin transition($which: all, $time: 1s, $how: ease-in-out){
	-webkit-transition: $which $time $how;
	-moz-transition: $which $time $how;
	-ms-transition: $which $time $how;
	-o-transition: $which $time $how;
	transition: $which $time $how;
}

@mixin gradient-bg($left, $right: darken($left, 25%)){
	background: $left; // backup
	background: -webkit-linear-gradient($left, $right);
	background: -o-linear-gradient($left, $right);
	background: -moz-linear-gradient($left, $right);
	background: linear-gradient($left, $right);
}

// **************************************************************/
// Layout
// **************************************************************/

.sidebar{
	position: fixed;
}

.card{
	min-height: 100vh;
}

.center{
	text-align: center;
}

// **************************************************************/
// Overriding bootstrap colors 
// **************************************************************/

$c-purple-l: #716DF9;
$c-purple-d: #4931A8;
$c-aqua-l: #75E2E4;
$c-aqua-d: #48CDD2;
$c-grey: #5F5F5F;
$c-grey-l: #F5F5F5;
$c-grey-d: #BDBDBD;
$c-blackish: #212121;
$c-green: #8FC769;
$c-white: #FFFFFF;

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
	background-color: $c-purple-d;
}

.btn.btn-primary{
	@include gradient-bg($c-purple-d);
	@include transition($time: 10s);
	border: none !important;

	&:hover{
		@include gradient-bg($c-purple-l);
	}
}

a{
	color: $c-purple-l;
	&:hover{
		color: $c-purple-d;
	}
}

code{
	color: $c-grey;
}

#success{
	background: transparentize($c-blackish, .1);
}


// **************************************************************/
// Custom Controls
// **************************************************************/

%hidden-element{
	position: absolute;
	clip: rect(0, 0, 0, 0);
	z-index: -1;
	opacity: 0;
	border: 0;
	overflow: hidden;
}

.custom-control-inline.custom-radio-switch{
	input{
		@extend %hidden-element;

		&:checked + label {
			@include gradient-bg($c-purple-d);
			color: $c-white;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		&:checked + label:nth-of-type(3n+3) {
			@include gradient-bg($c-aqua-d);
			color: white;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}

	label {
		float: left;
		display: inline-block;
		width: 120px;
		margin-bottom: 2em;
		@include gradient-bg($c-grey-l);
		color: rgba(0, 0, 0, 0.6);
		font-size: 14px;
		font-weight: normal;
		text-align: center;
		text-shadow: none;
		padding: 1em 1.5em;
		// border: 1px solid rgba(0, 0, 0, 0.2);
		@include transition($time: 0.1s);
		@include boxshadow();

		&:hover {
			cursor: pointer;
			@include gradient-bg($c-grey-d);
			color: $c-white;
		}

		// left pill
		&:first-of-type {
			border-radius: 4px 0 0 4px;
		}

		// right pill
		&:last-of-type {
			border-radius: 0 4px 4px 0;
		}
	}
} 

.control.control-radio{
	position: relative;
	cursor: pointer;
	padding: .25em 1.75em;
	margin: .25em 1.25em;

	input{
		@extend %hidden-element;
	}

	.control-indicator{
		position: absolute;
		top: 15%;
		left: 0;
		width: 24px;
		height: 24px;
		padding: 0;
		text-align: center;
		background: $c-grey-l;
		border-radius: 100%;
	}

	// hover state
	&:hover input ~ .control-indicator,
	input:focus ~ .control-indicator{
		background: $c-grey-d;
	}

	// checked
	input:checked ~ .control-indicator{
		background: $c-aqua-l;
		color: $c-blackish;
		// inner circle
		// &:after{
		// 	position: absolute;
		// 	content: ' ';
		// 	top: 25%;
		// 	left: 25%;
		// 	width: 12px;
		// 	height: 12px;
		// 	border-radius: 100%;
		// 	background: $c-white;
		// }
	}

	// not checked
	input:not(checked) + .control-indicator{
		color: transparent;
	}

	// checked hover state
	&:hover input:not([disabled]):checked ~ .control-indicator,
	input:checked:focus ~ .control-indicator{
		background: $c-aqua-d;
	}
}
