$c-blue-d: #182e4b;
$c-green: #66d795;
$c-pink: #f05538;
$c-peach: #FFDBC7;
$c-grey-l: #ebebeb;
$c-grey-m: #8c8a8a;
$c-grey-d: #242221;
$c-white: #FFFFFF;

@import url('https://fonts.googleapis.com/css?family=Lato');
* {
	font-family: Lato;
	color: $c-blue-d;
}

// ==================================================
// Mixins

@mixin boxshadow($horiz: 0, $vert: 2px, $blur: 5px, $col: rgba(0, 0, 0, 0.26)){
	-webkit-box-shadow: $horiz $vert $blur $col;
	box-shadow: $horiz $vert $blur $col;
}

@mixin transition($which: all, $time: 1s, $how: ease-in-out){
	-webkit-transition: $which $time $how;
	-moz-transition: $which $time $how;
	-ms-transition: $which $time $how;
	-o-transition: $which $time $how;
	transition: $which $time $how;
}

@mixin gradient-bg($left, $right: darken($left, 25%)){
	background: $left; // backup
	background: -webkit-linear-gradient($left, $right);
	background: -o-linear-gradient($left, $right);
	background: -moz-linear-gradient($left, $right);
	background: linear-gradient($left, $right);
}

// ==================================================
// Utils

body{
	background: $c-peach;
}
.center{
	text-align: center;
}

// ==================================================
// Nav

.app-nav{
	width: 100%;
	background: $c-white;
	border-bottom: 8px solid $c-green;
	margin-bottom: 1.5em;
	padding: 1em 1.5em;

	display: flex;
	justify-content: center;
	@include boxshadow();

	& > div {
		flex-basis: 50%;

		select{ 
			width: 85%;
			border: 2px solid $c-grey-l;
			border-radius: 8px;
			padding: 5px;
		}
		label{ 
			width: 45%
		}
	}
}


// ==================================================
// Card

.card,
.card-header,
.card-footer{
	background: $c-white;
	border: none;
	border-radius: 0;
}

.card{
	@include boxshadow;
}


.card-body{
	label{
		display: block;

		&.lead{
			display: inline;
		}
	}

	input,
	select{
		width: 45%;
		min-width: 30px;
	}
}


// ==================================================
// Floating Labels


// ==================================================
// Radio Buttons into Toggle Buttons



