$c-blue-d: #182e4b;
$c-green: #66d795;
$c-pink: #f05538;
$c-peach: #FFDBC7;
$c-grey-l: #ebebeb;
$c-grey-m: #8c8a8a;
$c-grey-d: #242221;
$c-white: #FFFFFF;

// ==================================================
// Mixins

@mixin boxshadow($horiz: 0, $vert: 2px, $blur: 5px, $col: rgba(0, 0, 0, 0.26)){
	-webkit-box-shadow: $horiz $vert $blur $col;
	box-shadow: $horiz $vert $blur $col;
}

@mixin transition($which: all, $time: 0.5s, $how: ease){
	-webkit-transition: $which $time $how;
	-moz-transition: $which $time $how;
	-ms-transition: $which $time $how;
	-o-transition: $which $time $how;
	transition: $which $time $how;
}

@mixin gradient-bg($left, $right: darken($left, 25%)){
	background: $left; // backup
	background: -webkit-linear-gradient($left, $right);
	background: -o-linear-gradient($left, $right);
	background: -moz-linear-gradient($left, $right);
	background: linear-gradient($left, $right);
}

// ==================================================
// Utils & Framework

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');
* {
	font-family: Lato;
	color: $c-blue-d;
}

body{
	background: $c-peach;
}

.lighter{
	color: $c-grey-m;
}

.center{
	text-align: center;
}

.clearfix{
	&:after{
		content: '';
		visibility: hidden;
		display: block;
		height: 0;
		clear: both;
	}
}

// ==================================================
// Nav

.app-nav{
	width: 100%;
	background: $c-white;
	border-bottom: 8px solid $c-green;
	margin-bottom: 1.5em;
	padding: 1em 1.5em;

	display: flex;
	justify-content: center;
	@include boxshadow($vert: 5px);

	& > div {
		flex-basis: 50%;

		select{ 
			width: 85%;
			border: 2px solid $c-grey-l;
			border-radius: 8px;
			padding: 5px;
		}
		label{ 
			width: 45%
		}
	}
}


// ==================================================
// Card

%nobackground{
	background: $c-white;
	border: none;
	border-radius: 0 !important;
}

.card-header{
	@extend %nobackground; // to keep padding and border width the same
	background: $c-grey-l;
	padding: 2em;
	@include boxshadow;
}

.card-body{
	padding: 2.55em;
}

.card-footer{
	@extend %nobackground;
	padding: .5em 2em 2em 2em;
	border-top: 2px solid $c-pink;
	color: $c-grey-d;
	text-align: center;
}
.card{
	@extend %nobackground;
	@include boxshadow;
	margin-bottom: 2em;
}

.per-row-wrap{
	width: 100%;
	position: relative;
	padding: 0 1em 1em 1em;
	margin: 1em auto;
	text-align: center;

	text-transform: uppercase;
	color: $c-pink;
	font-weight: 900;
}


// ==================================================
// Form Labels

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.float-label-wrap{
	position: relative;
	margin: 0 auto;
	width: 100%;
	padding: 1em;

	input{
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		z-index: 1;
		width: 100%;
		height: 30px;

		font-weight: bold;
		background: transparent;
		border: none;
		border-bottom: 2px solid $c-blue-d;

		&:focus{
			border-bottom-color: $c-green;
			color: darken($c-green, 10%);
		}
	}

	// For Serving|Price & Unit in one FieldSet
	&.double{
		input{
			width: 45%;
		}

		select{
			position: absolute;
			top: 0;
			left: 50%;
			width: 45%;
			padding: 4px;
			border: 1px solid $c-grey-l;
		}
	}

	// For Nutrition Half-Widths
	&.half{
		width: 45%;
		padding-bottom: 2em;
		margin-bottom: 1em;
	}


	label{
		position: absolute;
		pointer-events: none;
		top: 0px;
		left: 0px;
		@include transition;
	}

	input:focus ~ label{
		color: $c-green;
	}

	input:focus ~ label,
	select:focus ~ label,
	input:not(:placeholder-shown) ~ label{
		transform: translateX(-2px) translateY(-20px) scale(0.8);
		transform-origin: left top;
	}
}

// ==================================================
// Radio Buttons into Toggle Buttons




// **************************************************************/
// Custom Controls
// **************************************************************/
/* 
%hidden-element{
	position: absolute;
	clip: rect(0, 0, 0, 0);
	z-index: -1;
	opacity: 0;
	border: 0;
	overflow: hidden;
}

.custom-control-inline.custom-radio-switch{
	input{
		@extend %hidden-element;

		&:checked + label {
			@include gradient-bg($c-purple-d);
			color: $c-white;
			-webkit-box-shadow: none;
			box-shadow: none;
		}

		&:checked + label:nth-of-type(3n+3) {
			@include gradient-bg($c-aqua-d);
			color: white;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}

	label {
		float: left;
		display: inline-block;
		width: 120px;
		margin-bottom: 2em;
		@include gradient-bg($c-grey-l);
		color: rgba(0, 0, 0, 0.6);
		font-size: 14px;
		font-weight: normal;
		text-align: center;
		text-shadow: none;
		padding: 1em 1.5em;
		// border: 1px solid rgba(0, 0, 0, 0.2);
		@include transition($time: 0.1s);
		@include boxshadow();

		&:hover {
			cursor: pointer;
			@include gradient-bg($c-grey-d);
			color: $c-white;
		}

		// left pill
		&:first-of-type {
			border-radius: 4px 0 0 4px;
		}

		// right pill
		&:last-of-type {
			border-radius: 0 4px 4px 0;
		}
	}
} 

.control.control-radio{
	position: relative;
	cursor: pointer;
	padding: .25em 1.75em;
	margin: .25em 1.25em;

	input{
		@extend %hidden-element;
	}

	.control-indicator{
		position: absolute;
		top: 15%;
		left: 0;
		width: 24px;
		height: 24px;
		padding: 0;
		text-align: center;
		background: $c-grey-l;
		border-radius: 100%;
	}

	// hover state
	&:hover input ~ .control-indicator,
	input:focus ~ .control-indicator{
		background: $c-grey-d;
	}

	// checked
	input:checked ~ .control-indicator{
		background: $c-aqua-l;
		color: $c-blackish;
		// inner circle
		// &:after{
		// 	position: absolute;
		// 	content: ' ';
		// 	top: 25%;
		// 	left: 25%;
		// 	width: 12px;
		// 	height: 12px;
		// 	border-radius: 100%;
		// 	background: $c-white;
		// }
	}

	// not checked
	input:not(checked) + .control-indicator{
		color: transparent;
	}

	// checked hover state
	&:hover input:not([disabled]):checked ~ .control-indicator,
	input:checked:focus ~ .control-indicator{
		background: $c-aqua-d;
	}
}
 */
